<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Mindful Athlete BioQ Dashboard</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script   	
	src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=" crossorigin="anonymous"></script>
<script type="text/javascript">
	$(function () {
		$("#createAccount").click(function() {
			window.location.href = "/register";
		})
	});
</script>
</head>
<body>
<div class="container" style="margin-top: 2.5em">
	<div class="row">
		<div class="col-3 col-sm"> Pic goes here
		</div>
		<div class="col-9 col-sm"><h1>BioQ - Mindful Athlete</h1></div>
	</div>
</div>

<div class="container">
	<div class="card">
		<div class="card-header"><h3>Please enter the BioQ measurements</h3></div>
		<div class="card-body">
			<form action="" method="post">
			<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
			
			<div class="form-group row">
					<label for="calm_score" class="col-md-2 col-form-label"> Calm: </label>
					<div class="col-md-10">
						<input type="text" class="form-control"/>
					</div>
			</div>
			<div class="form-group row">
					<label for="focus_score" class="col-md-2 col-form-label"> Focus: </label>
					<div class="col-md-10">
						<input type="text" class="form-control"/>
					</div>
				</div>
				
				<div class="form-group row">
					<label for="engaged_score" class="col-md-2 col-form-label"> Engaged: </label>
					<div class="col-md-10">
						<input type="text" class="form-control"/>
					</div>
				</div>
				
				<div class="form-group row">
					<label for="integrated_score" class="col-md-2 col-form-label"> Integrated: </label>
					<div class="col-md-10">
						<input type="text" class="form-control"/>
					</div>
				</div>
				
				<div class="form-group row">
					<label for="bioq" class="col-md-2 col-form-label"> BioQ: </label>
					<div class="col-md-10">
						<input type="text" class="form-control"/>
					</div>
				</div>
				<div class="col-12">	        
					<p style="line-height:70 px; text-align:center;"><button type="button" class="btn btn-large btn-info center" id="calculateBioQ">Calculate BioQ</button></p>
				</div>	
				
			</form>
		</div>
	</div>
	
</div>

<div class="container">
	<div class="row">
	    <div class="col align-self-start">	      
	    </div>
	    
	    <div class="row align-self-center" style="margin-top: 10em">
			<div class="card" style="width: 50rem;">
				<img src="..." class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title">Card title</h5>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
								<a href="#" class="btn btn-primary">Calculate BioQ</a>
			  		</div>
			</div>
		</div>
		
	    <div class="col align-self-end">	      
	    </div>
	</div>


	
  
</div>




	
	
	<form action="/logout" method="post">
		<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
		<button type="submit">Logout</button>
	</form>
	
</body>
</html>